*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: rgb(29, 29, 208);
}
header{
    background-image: url(../img/hero-bg.jpg);
    width: 100%;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;  
}
.welcome{
    padding-top: 200px;
}
.welcome h1{
    color: rgb(17, 17, 17);
    font-size: 90px;
}
.About-Us{
    padding-top: 150px;
}
.why-us{
    padding-top: 150px;
}
.command{
    padding: 100px 0 50px 0;
}
.Conatct-Us{
    background: linear-gradient(rgb(7 7 7 / 60%), rgb(0 0 0 / 60%)), url(../img/cta-bg.jpg) center center;
    background-size: cover;
    padding: 100px 10px;
    border-radius: 0px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.user-commad{
    display: flex;
    justify-content: center;
    align-items: center;
}
.team{
    background: linear-gradient(rgb(7 7 7 / 60%), rgb(0 0 0 / 60%)), url(../img/cta-bg.jpg) center center;
    background-size: cover;
    padding: 200px 0px;
    border-radius: 0px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.Questions{
    padding-top: 150px;
}
footer{
    background-color: rgb(37, 37, 37);
    height: 400px;
}
footer h2{
    border-bottom: 2px solid blue;
}